.home-div {
    background-image: url('../assets//background3.jpg');
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}

.enf-p-m {
    font-size: 40px;
    font-weight: bold;
}

.color-active {
    color: #544efa !important;
}

.enf-p {
    font-weight: bold;
    font-size: 96px;
    color: #fff;
    line-height: 90px;
}